<div class="question-card col-md-8 col-md-offset-2">
  <h5 class="center-text"><span class="questionCategory"></span></h5>
  <h3 class="center-text"><span class="questionBody"></span></h3>
</div>

  <div class="col-md-8 col-md-offset-2">
    <div class="center-text">
      <br>
      <button class="btn btn-default submit-answer-button" {{action 'nextQuestion' 1}}><span class="option1"></span></button>
      <button class="btn btn-default submit-answer-button" {{action 'nextQuestion' 2}}><span class="option2"></span></button>
      <button class="btn btn-default submit-answer-button" {{action 'nextQuestion' 3}}><span class="option3"></span></button>
      <button class="btn btn-default submit-answer-button" {{action 'nextQuestion' 4}}><span class="option4"></span></button>
    </div>
  </div>
{{#if showGameForm}}
{{else}}
  {{#if roundBeginning}}
    <button class="btn btn-default start-round-button" {{action 'startRound' model.questions}}>Start</button>
  {{/if}}
{{/if}}
<br>
<h3 class="game-message">{{gameMessage}}</h3>

{{#if counterInitialized}}
    {{round-timer model=model roundOver='roundOver'}}
{{/if}}
