<!-- user name
username
user picture
email
correctanswers
wrong answers
win loss record
answer Right/Wrong ratio -->


<h2>{{user.name}}</h2>
<h4>{{user.username}}</h4>
<h4>{{user.picture}}</h4>
<h4>{{user.correctAnswers}}</h4>
<h4>{{user.wrongAnswers}}</h4>
<h4>{{computerproperty for answer ratio}}</h4>
<h4>{{computerproperty for win loss ratio}}</h4>

<h4></h4>
