<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
  <div class="navbar-toggler animate" {{action "animate"}}>
    <span class="menu-icon"></span>
  </div>
  <ul class="navbar-menu animate">
    <li>
      <a href="#about-us" class="animate">
        <span class="desc animate"> Who We Are </span>
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </li>
    <li>
      <a href="#blog" class="animate">
        <span class="desc animate"> What We Say </span>
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </li>
    <li>
      <a href="#contact-us" class="animate">
        <span class="desc animate"> How To Reach Us </span>
        <span class="glyphicon glyphicon-comment"></span>
      </a>
    </li>
  </ul>
</nav>

<div class="container main-container">
  <div class="header-logo">
    <img src="/assets/images/mustachetrivia.png">
  </div>
  {{#if session.isAuthenticated}}
    <h1 class="center-text">play</h1>
    {{outlet}}
  {{else}}
    <button {{action "signIn" "facebook"}}>Sign in with Facebook</button>
    <!-- {{password-signup signUp="signUp"}} -->
    {{signin-form signInPassword="signInPassword"}}
  {{/if}}
  {{outlet}}
</div>
