<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mustache Trivia</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container main-container">
  <h1 class="center-text">Mustache Trivia</h1>
  <h4 class="center-text">i mustache you a question...</h4>
  {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}}>Sign out</button>
    {{outlet}}
  {{else}}
    <button {{action "signIn" "facebook"}}>Sign in with Facebook</button>
    <!-- {{password-signup signUp="signUp"}} -->
    {{signin-form signInPassword="signInPassword"}}
  {{/if}}
  {{outlet}}
</div>
