<div class="profile-header">
  <div class="profile-image col-md-2 col-md-offset-3">
    <img src={{model.profileImageURL}}>
  </div>
  <div class="profile-name col-md-5">
    <h1>{{model.username}}</h1>
  </div>
</div>
<div class="profile-content">
  <div class="col-md-7 col-md-offset-3 totalGames">
    <h3>Total Games Played <span class="accent">{{model.totalGames}}</span></h3>
  </div>
  <div class="col-md-7 col-md-offset-3">
    <h3>Total Questions Answered <span class="accent">{{model.totalAnswers}}</span></h3>
  </div>
  <div class="col-md-7 col-md-offset-3">
    <h3>Correctness Meter <span class="accent">{{model.answerRatio}} %</span></h3>
  </div>
  <div class="col-md-7 col-md-offset-3">
    <h3>Total Correct <span class="accent">{{model.correctAnswers}}</span></h3>
  </div>
  <div class="col-md-7 col-md-offset-3">
    <h3>Total Incorrect <span class="accent">{{model.incorrectAnswers}}</span></h3>
  </div>
</div>
